

.catalog-item__text {
  margin: 0;
  margin-bottom: 10px;

  font-size: 16px;
  color: #666666;
}

.catalog-item__title {
  margin: 0;
  margin-bottom: 17px;

  font-size: 48px;
  line-height: 1;
  text-indent: -1px;
}

.catalog-item__type {
  display: block;
  margin-top: 4px;

  font-size: 24px;
}

.catalog-item__portion {
  margin: 0;

  color: #666666;
}

.catalog-item__gift {
  margin: 0;

  color: #666666;
}

.catalog__card {
  position: relative;

  min-width: 320px;
  min-height: 480px;
  margin-bottom: 14px;
  padding-top: 23px;
  padding-right: 64px;
  padding-left: 48px;

  &--default {
    background-image: url("../../img/bi-default.png");
  }

  &--selected {
    background-image: url("../../img/bi-selected.png");
  }

  &--disabled {
    background-image: url("../../img/bi-disabled.png");
  }
}


.catalog-item__weight {
  position: absolute;
  right: 15px;
  bottom: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 81px;
  min-height: 81px;
  margin: 0;
  padding-top: 10px;

  font-size: 42px;
  line-height: 1;
  color: #ffffff;

  border-radius: 50%;
}

.catalog-item__weight span {
  font-size: 21px;
}


.catalog-item__description {
  margin: 0;

  font-size: 13px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 1px 0 #000000;
}
