.page-promo {
  margin-top: 0.9em;
  margin-bottom: 0.9em;

  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  font-family: "Exo 2", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 1px 0 #000000;
}
