@font-face {
  font-weight: 400;
  font-family: "Trebuchet";
  font-style: normal;

  src: url("../fonts/Trebuchet-MS.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Trebuchet";
  font-style: normal;

  src: url("../fonts/Trebuchet-MS-Bold.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Exo 2";
  font-style: normal;

  src: url("../fonts/Exo20-Thin.woff") format("woff");
}
